/*Example section*/
.achievement-section {
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $main-secon-color;
    margin: auto;
    text-align: center;
}

.achievement {
    display: flex;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    gap: 30px;
}

.achievement-list {
    position: relative;
}

.achievement-list__item {
    position: absolute;

    color: $color-text;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background: rgba(47, 48, 58, 0.8);

    justify-content: center;
    align-items: center;
}
.achievement-list__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-text;
}