/*Clients section*/
.section{
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


    @media screen and (max-width: 480px){
        justify-content: center;
    }
}
.clients{
        flex-basis: calc((100% - 30px)/2);
}
.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: $main-secon-color;
    margin-bottom: 30px;
}

.clients__item {
    display: flex;
    
    height: 92px;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: $cubic;
    
    

    &:hover,
    &:focus {
        color: $color-for-hover;
        border: 1px solid #2196F3;
        fill: currentColor;

    }
}

.clients__icon {
    
    fill: currentColor;
}