/*Clients section*/
.clients {
    display: flex;
    gap: 30px;
}
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $main-secon-color;
    margin-bottom: 50px;
}
.clients__item {
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: $cubic;

        &:hover,
        &:focus {
            color: $color-for-hover;
            border: 1px solid #2196F3;
            fill: currentColor;
        
}
}

.clients__icon {
    margin: 16px 32px;
    fill: currentColor;
}

