/*Footer-list*/
.footer-list__contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: flex;
    padding-top: 9px;
    transition: $cubic;



            &:hover,
            &:focus {
                color: $color-for-hover;
}}

.footer-nav {
    display: flex;
    align-items: baseline;
}

.footer-list__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $bgr-color;
    text-decoration: none;
    padding-top: 20px;
}