.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
   
    
    

    @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
}
.mobile-group{
    align-items: center;
    display: flex;
    justify-content: space-between;
        
}
  

.page-header__nav{
    display: none;
    
    align-items: center;
    justify-content: space-between;    
}

.menu-button{
    
    display:flex;
    
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 50;
    transform: translateY(0%);
    
    

        &:focus,
        &:hover {
            fill: #2196F3;
            
        }
    
      
}
.menu-button .icon-cross{
    display: none;
}
.menu-button.is-open .icon-cross{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}
.menu-container{         
        display: none;          
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
       
        z-index: 2;
        background-color: $bgr-color;
        padding: 0;
        


    &.is-open{
        display: block;        
        padding-left: 40px;
        padding-top: 48px; 
    }
        

        
}

.mobile-nav__item {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color:$main-secon-color;

    text-decoration: none;

    &:focus,
    &:hover{
        color: #2196F3;
        fill: currentColor;
    }


}
.mobile-nav__current {
    color: #2196F3;
}
.mobile-nav li {
    padding-bottom: 32px;
}
   
.mobile-nav li:last-child {
    padding-bottom: 0px;
}
.mobile-nav__contact{
    display: block;
  
}  
.mobile-nav__contact>svg {
    display: none;
  

}
.mobile-nav__tel {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 302px;
    color: #2196F3;
  
}
.mobile-nav__email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    text-decoration: none;
    
    color: #757575;
   
}
.mobile-social{
    display: flex;
    padding-top: 64px;
    padding-bottom: 48px;
    gap: 10px;
    

    &__item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    
    }
        @media screen and (min-width: 768px){
            display: none;
        }
        
}


.mobile-social__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        color: #2196F3;      
}