.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 768px){
        padding-top: 26px;
        padding-bottom: 26px;
    }
   

}
.page-header__nav{
    display: none;

    @media screen and (min-width: 768px){
        align-items: center;
        justify-content: space-between; 
        display: flex;
        position: absolute;
        padding-left: 237px;
        width: 100%;
    }
}
.mobile-group{
    align-items: center;
    display: flex;
    justify-content: space-between;

        
}
.menu-button{
    display:flex;
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 50;
    transform: translateY(0%);

        &:focus,
        &:hover {
            fill: #2196F3;   
        }
        @media screen and (min-width: 768px){
            display: none;
        }
      
}
.menu-button .icon-cross{
    display: none;
}
.menu-button.is-open .icon-cross{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}
.menu-container{         
        display: none;          
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
       
        z-index: 2;
        background-color: $bgr-color;
        padding: 0;
        
    &.is-open{
        display: block;        
        padding-left: 40px;
        padding-top: 48px; 
        
    }       
}

.mobile-nav__item {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color:$main-secon-color;

    text-decoration: none;

    &:focus,
    &:hover{
        color: #2196F3;
        fill: currentColor;
    }


}
.mobile-nav__current {
    color: #2196F3;
}
.mobile-nav li {
    padding-bottom: 32px;
}
   
.mobile-nav li:last-child {
    padding-bottom: 0px;
}
.mobile-nav__contact{
    display: block;
  
}  
.mobile-nav__contact>svg {
    display: none;
  

}
.mobile-nav__tel {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 302px;
    color: #2196F3;
  
}
.mobile-nav__email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    text-decoration: none;
    
    color: #757575;
   
}
.mobile-social{
    display: flex;
    padding-top: 64px;
    padding-bottom: 48px;
    gap: 10px;
    

    &__item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    
    }
        @media screen and (min-width: 768px){
            display: none;
        }
        
}


.mobile-social__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        color: #2196F3;      
}

.site-nav {
    display: flex;
    

    @media screen and (min-width: 768px){
        position: relative;
        margin-right: 80px;

    }
}
.site-nav li {
    display: block;
    margin-right: 50px;
}

.site-nav li:last-child {
    margin-right: 0px;
}

.site-nav__item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: $main-secon-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: $cubic;
}

.site-nav__current {
    color: #2196F3;
}

.site-nav__item:hover,
.site-nav__item:focus {
    color: $color-for-hover;
}
.site-nav__underline::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;

    bottom: -34px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
}
/*Contact*/
.site-nav__contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: $main-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    transition: $cubic;

    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
        flex-direction: column-reverse;
        gap: 10px;
        

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #757575;
            }

}
.site-nav__email {
    margin-right: 50px;
}

.site-nav__tel {
    margin-right: 0px;
}
.site-nav__contact>svg {
    margin-right: 10px;
}

.site-nav__contact:hover,
.site-nav__contact:focus {
    color: $color-for-hover;
    fill: currentColor;
}



