
    $main-color: #757575;
    $bgr-color: #FFFFFF;
    $color-text:#FFFFFF;
    $bgr-footer-color: #2F303A;
    $main-secon-color: #212121;
    $color-for-hover: #2196F3;
    $cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
